{{ 'section-header.css' |  asset_url |  stylesheet_tag }}

<header class="nav-bar__container color-{{ section.settings.color_scheme }}">
  <div class="nav-bar__items">
    <div>
      
    </div>
  </div>
</header>

{%  schema  %} 
 {
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "brand_logo",
      "label": "Header Logo"
    },
    {
      "type": "link_list",
      "id":"main-nav",
      "label": "Main Menu"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "link_list",
      "id": "mega-menu",
      "label": "Mega Menu"
    },
    {
      "type": "color_scheme",
      "id": "mega_menu_color_scheme",
      "label": "Mega Menu color Scheme",
      "default": "scheme-1"
    }
  ]
 }
{% endschema %}