.collection-container {
  position: relative;
}

.product-collection__header {
  font-size: 24px;
}

.product-collection__header h2 {
  color: rgb(var(--color-foreground)) !important;
}



.collection__product-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  grid-template-columns: repeat(2, minmax(0, 160px));
}

@media screen and (min-width: 789px) {

  .collection__product-wrapper {
    grid-template-columns: repeat(4, minmax(0, 280px));
  }
}