.main-product__wrapper {
  display: grid;
  justify-content: flex-start;
  align-items: center;
}

.main-product-review-star__wrapper {
  display: flex;
  align-items: center;
}

.main-product-star__wrapper svg {
  width: 21px;
  height: 21px;
}

.main-product__review-text {
  font: 400 15px 'Poppins';
}

.main-product__title h2 {

}





