.main-product__wrapper {
  display: grid;
  justify-content: flex-start;
  align-items: center;
}

.main-product-review-star__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-product-star__wrapper {
  display: flex;
  align-items: center;
  gap: 1px;
  
}

.main-product-star__wrapper svg {
  width: 21px;
  height: 21px;
}

.main-product__review-text {
  font: 400 15px 'Poppins';
  display: flex;
  align-items: center;
  color: black;
}

.main-product__title h2 {
  font: 600 21px 'Poppins';
  color: #002624;
}

.





