.main-product__wrapper {
  display: grid;
  justify-content: flex-start;
  align-items: center;
}

.main-product-review-star__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-product-star__wrapper {
  display: flex;
  align-items: center;
  gap: 1px;
  
}

.main-product-star__wrapper svg {
  width: 21px;
  height: 21px;
}

.main-product__review-text {
  font: 400 15px 'Poppins';
  display: flex;
  align-items: center;
  color: black;
}

.main-product__title h2 {
  font: 600 21px 'Poppins';
  color: #002624;
}

.main-product__media-wrapper {
  overflow: hidden;
  height: 340px;
  background: #E5E5E5;
  overflow: hidden;
  border-radius: 8px;
  max-width: 400px;
}

.main-product__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-product__img {
  width: 345px;
  object-fit: cover;
}

.main-product__thumb-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid #074542;
}

.main-product__thumb {
  width: ;
}

.main-product__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding-block: 2.5rem;
  gap: 20px;
}

.main-product__price-wrapper {
  display: flex;
  gap: 15px;
}

.main-product__current-price, .main-product__cap {
  font: 600 31px 'Poppins';
  color: #282828;
}

.main-product__cap {
  text-decoration: line-through;
  color: #A5A5A5;
  font-weight: 500;
}

.main-product__variants h2 {
  font: 500 16px 'Poppins';
}

.main-product__variants-list {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 10px;
}

.main-product__variant-option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 110px;
  border: 2px solid #20202085;
  border-radius: 5px;
}









