.product__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__info-section-header {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Poppins';
  color: rgb(var(--color-foreground));
  text-align: center;
}

.product__value-point-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.product__value-point-wrapper h2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins';
  color: black;
}

.product__value-point-wrapper p {
  font-size: 15px;
  font
}


