.company-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.company-timeline__line {
  position: absolute;
  width: 3px;
  background-color: #074542;
  top: 0;
  bottom: 0;
  left: 0;
  /* left: 50%;
  transform: translateX(-50%); */
}