.product__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__info-section-header {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Poppins';
  color: rgb(var(--color-foreground));
  text-align: center;
}

.prouduct__value-point-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

