.nav-bar__container {
  display: flex;
  width: 100%;
  align-items: center;
}

.nav-bar__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: rgb(var(--color-background));
  width: 100%;
  padding: 10px 25px
}

.nav-bar__open-btn {
  display: block;
}

.nav-bar__brand-img {
  width: 150px;
  height: 50px;
}

.nav-bar__options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form.desktop {
  display: none;
}

.nav-bar__menu {
  display: none;
}

.search-input {
  border: none;
  outline: none;
  height: 43px;
  width: 245px;
  background: #F5F4F4;
  font-family: 'Poppins';
  font-weight: 400;
  border-radius: 4px 0 0 4px;
  padding-inline-start: 30px;
}

.search-input:focus-visible {
  outline-offset: 0;
  box-shadow: none;
}

.nav-bar__search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border: none;
  background: #00878030;
  border-radius: 0 4px 4px 0;
}

.nav-bar__mega-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 85%;
  background-color: rgb(var(--color-background));
  z-index: 10;
  padding-block: 25px;
}

.nav-bar__mega-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 15px 30px 0 30px;
}

@media screen and (min-width: 789px) {

  .nav-bar__items {
    height: 80px;
  }

  .nav-bar__open-btn {
    display: none;
  }

  .nav-bar__brand-img {
    width: 190px;
    height: 60px
  }

  .nav-bar__options {
    display: none;
  }

  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-form.desktop {
    display: flex;
  }

  .search-input {
    border: none;
    outline: none;
    height: 43px;
    width: 345px;
    background: white;
    font-family: 'Poppins';
    font-weight: 400;
    border-radius: 4px 0 0 4px;
    padding-inline-start: 30px;
  }

  .search-input:focus-visible {
    outline-offset: 0;
    box-shadow: none;
  }

  .nav-bar__search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border: none;
    background: #00878030;
    border-radius: 0 4px 4px 0;
  }

  .nav-bar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  .nav-bar__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: rgb(var(--color-foreground));
    text-decoration: none;
    text-transform: capitalize;
  }

  .nav-bar__menu-item a {
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(var(--color-foreground));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 500;
  }
  .nav-bar__menu-item a svg {
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }

}