.nav-bar__container {
  display: flex;
  width: 100%;
  align-items: center;
}

.nav-bar__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: rgb(var(--color-background));
  width: 100%;
  padding: 10px 25px
}

.nav-bar__open-btn {
  display: block;
}

.nav-bar__brand-img {
  width: 150px;
  height: 50px;
}

.nav-bar__options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (min-width: 789px) {
  .nav-bar__open-btn {
    display: none;
  }
}