.about-us__banner-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;

}


.about-us__banner-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}


.about-us__banner-review-img-wrapper {
  width: 330px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us__banner-review-img {
  width: 330px;
  object-fit: cover;
}


.about-us__banner-title {
  font: 600 24px 'Poppins';
  text-align: center;
  margin: 0;
}

.about-us__banner-info p {
  font: 400 16px 'Poppins';
  color: black;
  text-align: center;
  margin: 0;
}



.about-us__banner-img-wrapper {
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
  height: 300px;;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us__banner-img {
  object-fit: cover;
}