.product__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__info-section-header {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Poppins';
  color: rgb(var(--color-foreground));
  text-align: center;
}

.product__value-point-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 10px
}

.product__value-point-wrapper h2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins';
  color: black;
  gap: 17px;
  margin-bottom: 0;
}

.product__value-point-wrapper h2 svg path {
  fill: #309F99;
}

.product__value-point-wrapper p {
  font-size: 15px;
  font-family: 'Poppins';
  font-weight: 400;
  text-align: start;
  color: black;
  padding-inline-start: 36px;
  margin: 0;
  
}

@media screen and (min-width: 786px) {

  .product__info-wrapper {
    gap: 25px;
    flex-wrap: wrap;
  }

  .product__value-point-wrapper {
    max-width: 385px;

  }
}


