.about-us__banner-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;

}


.about-us__banner-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.about-us__banner-title {
  font: ;
}

.about-us__banner-img-wrapper {
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
  height: 300px;;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us__banner-img {
  object-fit: cover;
}